# Javascript annimated website scraping

In [26]:
import requests
import pandas as pd

In [22]:
# i found that the website get's the data using api so i'll get it too .)
# i descover it using network section in developer options
req = requests.get('https://directory.ntschools.net/api/System/GetAllSchools')
# list of schools with their innital infos
jData = req.json()

In [29]:
header = {
'Accept' : 'application/json ',
'Accept-Encoding' : 'gzip, deflate, br ',
'Accept-Language' : 'en-US,en;q=0.9 ',
'Referer' : 'https://directory.ntschools.net/ ',
'Sec-Fetch-Mode' : 'cors ',
'Sec-Fetch-Site' : 'same-origin ',
'User-Agent' : 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Mobile Safari/537.36 ',
'X-Requested-With' : 'Fetch'}
schools = []
for school in jData:
    j = requests.get(url = 'https://directory.ntschools.net/api/System/GetSchool?itSchoolCode='+school['itSchoolCode'], headers = header)
    schools.append(j.json())

In [31]:
df = pd.DataFrame(schools)
df.head(1)

,name,notes,physicalAddress,postalAddress,dn,aliases,region,ntgGeographicDefinition,enrolment,enrolmentDataSource,...,schoolElectorate,facsimileTelephoneNumber,councilMail,remoteDefinition,long,lat,uri,mail,preSchoolInfo,schoolManagement
0,Acacia Hill School,None,"{'description': '80 Spearwood Rd', 'state': 'N...","{'description': 'PO Box 435', 'state': 'NT', '...","ou=Acacia Hill School,ou=Government,ou=NTSchoo...",[],Central,Remote Australia,93,2021 Census - 1st week August,...,Braitling,None,tba,Urban,133.898,-23.7007,not available,acaciahill.school@education.nt.gov.au,None,"[{'firstName': 'Julie', 'lastName': 'Permezel'..."

In [50]:
df.to_csv('out/schools.csv')